@model MOM_Project.Models.MeetingsModel

<div class="container pb-3">
    <h2 class="h2 fw-bold">Edit Meeting</h2>
</div>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5 mb-0">Edit Meeting</div>
    </div>

    <div class="card-body">

        <form asp-action="MeetingsEditForm" method="post">

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label">Meeting Name</label>
                    <input class="form-control" value="Development" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Meeting Date & Time</label>
                    <input asp-for="MeetingDate" type="datetime-local" class="form-control" />
                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Meeting Type Name</label>
                    <input asp-for="MeetingTypeName" class="form-control" />
                    <span asp-validation-for="MeetingTypeName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Venue Name</label>
                    <input asp-for="VenueName" class="form-control" />
                    <span asp-validation-for="VenueName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Department Name</label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <label class="form-label">Meeting Description</label>
                    <textarea asp-for="MeetingDescription" class="form-control"></textarea>
                    <span asp-validation-for="MeetingDescription" class="text-danger"></span>
                </div>
            </div>

            <button class="btn btn-primary">Update</button>
            <a asp-action="MeetingsList" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
</div>
