    <h2 class="h2 fw-bold">View Meeting</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">View Meeting</div>
    </div>
    <div class="card-body">
        <p><b>Meeting Neme:</b> Develoapment</p>
        <p><b>Department:</b> CSE</p>
        <p><b>Type:</b> Review</p>
        <p><b>Venue:</b> Conference Room</p>
        <p><b>Status:</b> Scheduled</p>
        <p><b>Date:</b> 15-12-2025</p>

        <a asp-action="MeetingsList" class="btn btn-primary">Back</a>
    </div>
</div>
