@model MOM_Project.Models.MeetingsModel

<h2 class="h2 fw-bold text-danger">Delete Meeting</h2>

<div class="card shadow rounded-4 border-danger overflow-hidden">

    <div class="table-head px-3 py-2 bg-danger text-white">
        <div class="h5">Confirm Delete</div>
    </div>

    <div class="card-body">

        <ul class="list-group mb-3">
            <li class="list-group-item">
                <b>Meeting ID:</b> @Model.MeetingID
            </li>

            <li class="list-group-item">
                <b>Meeting Date:</b> @Model.MeetingDate.ToString("dd-MM-yyyy hh:mm tt")
            </li>
        </ul>

        <form asp-action="MeetingsDelete" method="post">

            <input type="hidden" asp-for="MeetingID" name="MeetingID" value="@Model.MeetingID" />

            <button class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
            </button>

            <a asp-action="MeetingsList" class="btn btn-secondary">
                Cancel
            </a>
        </form>
    </div>
</div>