<div class="container pb-3">
    <h2 class="h2 fw-bold text-danger">Delete Meeting</h2>
</div>

<div class="card shadow rounded-4 border-danger overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Delete Meeting</div>
    </div>
    <div class="card-body">

        <ul class="list-group mb-3 p-1">
            <li class="list-group-item"><b>Meeting Name:</b> Develoapment</li>
            <li class="list-group-item"><b>Venue:</b> Conference Room</li>
            <li class="list-group-item"><b>Department:</b> CSE </li>
            <li class="list-group-item"><b>Date:</b> 15-12-2025</li>
        </ul>

        <div class="text-start p-1">
            <button class="btn btn-danger">
                <i class="bi bi-x-circle"></i> Cancel Meeting
            </button>
            <a asp-action="MeetingsList" class="btn btn-secondary">Cancel</a>
        </div>

    </div>
</div>
