@model MeetingVenueModel

<h2 class="h2 fw-bold">Add Meeting Venue</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Add Meeting Venue</div>
    </div>
    <div class="card-body">
        @if (@TempData["SucessMessage"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["SucessMessage"]
            </div>
        }
        @if (@TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-action="MeetingVenueAdd" method="post">

            <div class="mb-3">
                <label asp-for="MeetingVenueName" class="form-label">Meeting Venue Name</label>
                <input asp-for="MeetingVenueName" class="form-control" />
                <span asp-validation-for="MeetingVenueName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="MeetingVenueList" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
