@model MeetingTypeModel

<h2 class="h2 fw-bold">Edit Meeting Type</h2>
@if (@TempData["SucessMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["SucessMessage"]
    </div>
}
@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Edit Meeting Type</div>
    </div>

    <div class="card-body">
        <form asp-action="MeetingTypeEditForm" method="post">

            <input type="hidden" asp-for="MeetingTypeID" />
            <div class="mb-3">
                <label asp-for="MeetingTypeName" class="form-label">Meeting Type Name</label>
                <input asp-for="MeetingTypeName" class="form-control" />
                <span asp-validation-for="MeetingTypeName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Remarks" class="form-label">Remarks</label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="MeetingTypeList" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
