@model DepartmentModel

<div class="container pb-3">
    <h2 class="h2 fw-bold">Add Department</h2>
</div>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Add Department</div>
    </div>

    <div class="card-body">
        @if (@TempData["SucessMessage"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["SucessMessage"]
            </div>
        }
        @if (@TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-action="DepartmentAdd" method="post">

            <div class="mb-3">
                <label asp-for="DepartmentName" class="form-label"></label>
                <input asp-for="DepartmentName" class="form-control" placeholder="Enter Department Name" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-start gap-2">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Save
                </button>
                <a asp-action="DepartmentList" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>