<h2 class="h2 fw-bold">View Staff</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">View Staff</div>
    </div>
    <div class="card-body">
        <p><b>Name:</b> Raju Patel</p>
        <p><b>Department:</b> IT</p>
        <p><b>Mobile:</b> 9876543210</p>
        <p><b>Email:</b> raju@email.com</p>

        <a asp-action="StaffList" class="btn btn-primary">Back</a>
    </div>
</div>
