@model MOM_Project.Models.MeetingMemberModel

<div class="container pb-3">
    <h2 class="h2 fw-bold text-danger">Delete Meeting Member</h2>
</div>

<div class="card shadow rounded-4 border-danger overflow-hidden">

    <div class="table-head px-3 py-2 bg-danger text-white">
        <div class="h5">Confirm Delete</div>
    </div>

    <div class="card-body">

        <ul class="list-group mb-3">
            <li class="list-group-item"><b>Meeting:</b> @Model.MeetingTypeName</li>
            <li class="list-group-item"><b>Staff:</b> @Model.StaffName</li>
        </ul>

        <form asp-action="MeetingMemberDelete" method="post">

            <input type="hidden" name="MeetingMemberID" value="@Model.MeetingMemberID" />

            <button class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
            </button>

            <a asp-action="MeetingMemberList" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>